<div class="row column text-center">
<h2>Nuestros ultimos productos!</h2>
<hr>

<div class="row small-up-2 large-up-4">
<% @latest_products.each do |product| %>
  <div class="column">
  	<div style="height: 400px">
    <%= image_tag product.image.url(:medium) %>
    </div>
    <h5><%= product.category.nombre %></h5>
    <h5><%= product.marca.nombre %></h5>
    Precio: <%= product.precio %></p>
    <% if current_user %>
    
    <div class="actions"><%= link_to 'Comprar', edit_carrito_path(product) %></div>
    <% else %>
    <a class="actions">Inicia sesion para comprar</a>
    <% end %>

  </div>
  <% end %>



</div>
<hr>