
<h1>Todos los productos por marcas</h1>


<table>
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Codigo</th>
      <th>Precio</th>
      <th>Description</th>
      <th>Marca</th>
      <th>Categoria</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_marcas.each do |admin_marcas| %>
      <% @admin_products.each do |admin_product| %>
         <% if admin_marcas.id == admin_product.marca.id %>
          <tr>
            <td><%= image_tag admin_product.image.url(:thumb) %></td>
            <td><%= admin_product.codigo %></td>
            <td><%= admin_product.precio %></td>
            <td><%= admin_product.description %></td>
            <td><%= admin_product.marca.nombre %></td>
            <td><%= admin_product.category.nombre %></td>
            <% if current_user %>
             <td><a class="button expanded">Comprar!</a></td>
            <% else %>
            <td><div class="actions">Inicia sesion para comprar</div></td>
            <% end %>
            
            <td><div class="actions"><%= link_to 'Mostrar', admin_product %></div></td>
          </tr>
         <% end %>
      <% end %>
    <% end %>

    
  </tbody>
</table>