
<p>
  <strong>Codigo:</strong>
  <%= @admin_product.codigo %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @admin_product.precio %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_product.description %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @admin_product.marca.nombre %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @admin_product.category.nombre %>
</p>

<p>
  <strong>Imagen:</strong>
  <br>
  <%= image_tag @admin_product.image.url(:thumb) %>

</p>


<%= link_to 'Editar', edit_admin_product_path(@admin_product) %> |
<%= link_to 'Volver', admin_products_path %>
