
<p>
  <strong>Codigo:</strong>
  <%= @admin_product.codigo %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @admin_product.precio %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_product.description %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @admin_product.marca.nombre %>
</p>

<p>
  <strong>Categoria:</strong>

</p>

<p>
  <strong>Imagen:</strong>
  <br>
  <%= image_tag @admin_product.image.url(:medium) %>

</p>


<div class="actions">
    <%= link_to 'Volver', admin_products_path %>
</div>

