<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Mercado Franco</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="//dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
<body>

<div class="top-bar">
<div class="top-bar-left">
<ul class="menu">
<li class="menu-text">Mercado Franco</li>
<li><%= link_to 'Inicio', root_path %></li>
<% if current_user %>
<li><%= link_to 'Productos por marca', admin_products_path %></li>
<li><%= link_to 'Productos por categoria', admin_products_path %></li>
<% end %>
</ul>
</div>
<div class="top-bar-right">
<ul class="menu">
<% if current_user %>
<li> <%= link_to "Cerrar Sesion", destroy_user_session_path,method: :delete %></li>
<% else %>
<li> <%= link_to "Iniciar sesion", new_user_session_path, :class => 'navbar-link'  %></li>
<% end %>

</ul>
</div>
</div>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>



</body>
</html>
